    @charset "UTF-8";
    /*-------------------------GENERAL------------------ */
    
    @-ms-viewport {
        width: device-width;
    }
    
    @viewport {
        width: device-width;
    }
    
     :root {
        --red: rgb(249, 58, 58);
        --red2: rgb(160, 37, 37);
        --red3: rgb(129, 32, 32);
        --light1: rgb(248, 249, 209);
        --light2: rgb(172, 172, 144);
        --med1: rgb(130, 131, 110);
        --dark: rgb(0, 0, 0);
    }
    
    *,
    *:after,
    *:before {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    html {
        font-size: 17px;
    }
    
    body {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 1.15em;
        line-height: 2em;
        
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    }
    
    a,
    a:visited {
        text-decoration: none;
        color: var(--dark);
    }
    
    a:hover {
        color: var(--dark);
    }
    
    .images {
        padding: 5px;
        background: #fefff4;
        box-shadow: 0 0 10px 2px rgb(86 0 0 / 50%);
    }
    /* /////////////////BANNER//////////////////// */
    
    section#banner {
        background-color: var(--red);
        color: var(--light1);
    }
    
    section#banner header {
        height: 8em;
    }
    
    section#banner header img {
        display: inline;
        float: left;
        height: 90px;
        width: auto;
        padding-right: 1em;
    }
    
    section#banner header h1 {
        display: inline;
        font-family: 'Righteous', cursive;
        text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
        font-size: 2em;
        line-height: 1.1em;
        text-transform: uppercase;
        text-align: center;
        padding: 1em 0 0;
    }
    
    #red-logo {
        width: 100px;
        float: left;
        margin-right: 1em;
    }
    
    section#banner header h2 {
        font-size: 1.5em;
        text-align: center;
        /* padding: 0 0 0 1em;
        margin-top: 2em; */
    }
    
    section#banner nav#globalnav {
        background-color: var(--red2);
    }
    
    section#banner nav#globalnav #menu {
        display: block;
        height: 2.25em;
        line-height: 2.25em;
        text-align: center;
        padding: 0 7%;
        display: block;
        color: var(--light2);
    }
    
    section#banner nav#globalnav ul {
        display: none;
    }
    
    section#banner nav#globalnav ul.navToggle {
        display: block;
    }
    
    section#banner nav#globalnav ul li {
        height: 2.25em;
        line-height: 2.25em;
        text-align: center;
    }
    
    section#banner nav#globalnav ul li a {
        padding: 0 7%;
        display: block;
        color: var(--light2);
    }
    
    section#banner nav#globalnav ul li a:hover {
        background: var(--light2);
        color: var(--dark);
        border-bottom: 2px solid var(--light2);
    }
    
    .navToggle {
        display: block;
    }
    /* /////////////////Section Rules//////////////////// */
    
    section {
        background-color: var(--light1);
    }
    
    section article {
        width: 90%;
        margin: 0 auto;
        border-bottom: 2px solid var(--med1);
        overflow: hidden;
    }
    
    section:last-of-type article:last-of-type {
        border: none;
    }
    
    section article img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    /* Article Header */
    
    section article header {
        padding: 2em 0;
    }
    
    section article header h1 {
        text-transform: uppercase;
        font-size: 1.65em;
        color: var(--red3);
        font-weight: 300;
    }
    
    section article header h2 {
        font-size: 1.2em;
        font-weight: 400;
        color: var(--red);
    }
    /* Misc Article Elements */
    
    section article p,
    section article ul,
    section article ol,
    section article dl,
    section article aside,
    section article blockquote {
        margin-bottom: 1.5em;
    }
    
    section article aside {
        background-color: var(--med1);
        color: var(--light1);
        padding: 2em;
        /* float: right; */
        margin-left: 1.5em;
        /* width: 46%; */
        word-wrap: break-word;
    }
    
    section article ul {
        list-style-type: disc;
        margin-left: 7%;
    }
    section article ul#faq {
        list-style-type: none;
       border: solid 1px var(--red);
    }
    section article ul li div.question{
        padding-left: 1em;
        
        background-color: var(--red);
        color: var(--light1);
        margin-top: 1px;
        
    }
    section article ul#discount-list{
        list-style: none;
        text-decoration: underline;
        
    }
    
    section article ul li div.answer{
        
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  padding-left: 5em;      
   color: var(--red3);
    }
    .active, .question:hover {
        background-color: var(--red2);
        cursor: pointer;
      }
      .question:after {
        color: var(--light1);
        content: '\002B'; 
        font-size: 40px;
        
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2212"; 
      }


    section article ol {
        list-style-type: decimal;
        margin-left: 7%;
    }
    
    section article dl {
        font-weight: 300;
    }
    
    section article dl dt {
        font-weight: 400;
        font-style: italic;
    }
    
    section article dd {
        margin-left: 1.5em;
    }
    
    section article blockquote {
        margin: 2em;
        font-style: italic;
    }
    
    section article pre {
        color: #4c7775
    }
    
   
    /* /////////////////Footer//////////////////// */
    
    footer {
        background-color: var(--red2);
        color: var(--light2);
        padding: 0 6.5% 2em;
        border-top: 5px solid rgb(90, 90, 99);
    }
    
    footer a {
        color: var(--light1);
    }
    
    footer a:hover {
        background: var(--light2);
        color: var(--dark);
        border-bottom: 2px solid var(--light2);
    }
    
    footer article {
        margin-top: 2em;
    }
    
    footer article header h1 {
        font-size: 1.15em;
        text-transform: uppercase;
    }
    .flex-container {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;   
    padding: 10px;
    margin: 0;
    list-style: none;
  }
  
  .flex-item {
    background: var(--red);
    padding-top: 30%;
    width: 100%;
    height: 17em;
    margin-top: 10px;
    
    font-size: .95em;
    color: white;
    line-height: 1.25em;
    padding-top: 2.5em;
    
  }

li.flex-item h2{
text-align: center;
margin-bottom: .5em;
color: var(--light1)
}
li.flex-item p{
    text-align: center;
    padding: 1em;
    margin: 0 auto;
    }

    /* /////////////////Media Queries//////////////////// */
    
    @media screen and (min-width: 480px) {
        /* footer */
        footer {
            overflow: hidden;
        }
        footer article {
            padding-left: 1em;
            width: 49%;
            float: left;
        }
        section#banner header h2 {
            position: relative;
            text-align: center;
            left: -60px;
        }
    }
    
    @media screen and (min-width: 600px) {
        section, footer {
        width: 90%;
        margin: 0 auto;
    }
        /* Banner */
        section#banner nav#globalnav #menu {
            display: none;
        }
        section#banner nav#globalnav ul {
            overflow: hidden;
            height: 2.5em;
            display: block;
        }
        section#banner nav#globalnav ul li {
            float: left;
            width: 25%;
        }
        /* articles */
        section article {
            width: 87%;
            max-width: 1080px;
            margin: 0 auto;
            padding: 1.5em;
            overflow: hidden;
            word-wrap: break-word;
        }
        section article aside {
            float: right;
            margin-left: 1.5em;
            width: 40%;
        }
        
        .flex-item {
            width: 100%;
        }
   
    }
    
    @media screen and (min-width: 800px) {
        /* footer */
        footer {
            overflow: hidden;
        }
        footer article {
            width: 50%;
            float: left;
        }
        
        .flex-item{
            width: 49%;
            height: 20em;
        }
    }

    @media screen  and (min-width: 1000px){
        .flex-item{
           
            height: 17em;
        }
        
    }

/* Flex containers */
