@charset "UTF-8";
    /*-------------------------GENERAL------------------ */
    
    @-ms-viewport {
        width: device-width;
    }
    
    @viewport {
        width: device-width;
    }

    *,
    *:after,
    *:before {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    html {
        font-size: 16px;
    }
    :root {
        --blue1: #1f0185;
        --blue2: rgb(28, 27, 124);
        --blue3: rgb(52, 49, 133);
        --orange1: rgb(255,123,10);
        --orange2: rgb(215,104,8);
        --orange3: rgb(255,206,164);
    }
    html {
        font-size: 17px;
    }
/* FONT CHOICES */
    /* font-family: 'Bebas Neue', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif; */


    body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 1em;
        line-height: 2em;
        background-color: var(--orange3);
    }

    a,
    a:visited {
        text-decoration: none;
        color: var(--blue2);
    }
    a:hover {
        color: var(--blue2);
    }
    .images {
        padding: 5px;
        background: #494949;
        box-shadow: 0 0 10px 2px rgb(86 0 0 / 50%);
    }
    section{
        
    }

    /* Banner and Nav Bar */
    section#banner {
        background-color: var(--blue1);
        color: #fff;
        font-family: 'Merriweather', serif;
        font-size: 1em;

    }
    section#banner header {
        height: 6em;
    }
    
    section#banner header img {
        
        float: left;
        height: 65px;
        width: auto;
        padding-right: 1em;
    }

        
    section#banner header h1 {
        display: inline;
        font-family: 'Merriweather', serif;
        font-size: 2em;
        line-height: 1.1em;
        text-transform: uppercase;
        text-align: center;
        padding: 1em 0 0;
    }
    
    #white-logo {
        width: 100px;
        float: left;
        margin-right: 1em;
    }
    
   
    
    section#banner nav#globalnav {
        background-color: var(--blue3);
    }
    
    section#banner nav#globalnav #menu {
        background-color: var(--blue1);
        display: block;
        height: 2.25em;
        line-height: 2.25em;
        text-align: center;
        padding: 0 7%;
        display: block;
        color: #fff;
        
    }
    
    section#banner nav#globalnav ul {
        display: none;
    }
    
    section#banner nav#globalnav ul.navToggle {
        display: block;
    }
    
    section#banner nav#globalnav ul li {
        height: 2.25em;
        line-height: 2.25em;
        text-align: center;
        
    }
    
    section#banner nav#globalnav ul li a {
        padding: 0 7%;
        display: block;
        color: #fff;
        border-bottom: 1px solid rgb(64, 67, 104);
    }
    
    section#banner nav#globalnav ul li a:hover {
        background: var(--orange2);
        color: var(--blue1);
        border-bottom: 1px solid rgb(177, 173, 173);
    }
    
    .navToggle {
        display: block;
    }

    section article {
        padding: 0 1em;
        margin: 0 auto;
        border-bottom: 2px solid var(--med1);
        overflow: hidden;
        background-color: #fff;
    }
    section article header{
      line-height: 4em;  
    }
    section article img#logo-transparent{
      display: block;
       margin: 0 auto;
    }
    
    
    .hero-image {
        margin: 0 -10%;
        background-image: url("../images/collab.jpg");
        height: 500px;
        ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
   }
    
   .hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
   }
   .hero-text h1{
       color: #fff;
       font-family: 'Bebas Neue', cursive;
       font-size: 6em;
   }
   .blue-div{
       background-color: var(--blue2);
       width: 100vw;
       height: 30px;
       margin-left: -2em;
       
      
   }
   section article h1{
        font-family: 'Merriweather', serif;
        color: var(--orange2);
        font-size: 3em;
    }
    section article h2{
        
        font-family: 'Merriweather', serif;
        font-style: italic;
        color: var(--blue1);
        font-size: 2em;
    }
    section article p {
        max-width: 670px;
        padding: 1em;
    }

    section article aside {
        background-color: var(--blue1);
        color: #fff;
        padding: 2em;
        /* float: right; */
        box-shadow: 5px 4px #888888; 
        /* width: 46%; */
        word-wrap: break-word;
    }
    @media screen and (min-width: 600px) {
        /* section {
        width: 90%;
        margin: 0 auto;
    } */
    .blue-div{
    margin-left: -1em;    
    box-shadow: 5px 4px #888888; 
    max-width: 600px;
    }
    /* Banner */
        section#banner header {
            height: 7em;
            background-color: var(--blue1);
        }
        section#banner nav#globalnav ul.navToggle {
            display: flex;
        }
        section#banner nav#globalnav #menu {
            display: none;
        }
        section#banner nav#globalnav ul {
            display: flex;
            overflow: hidden;
            height: 2.5em;      
            justify-content: flex-end;
            margin-top: -100px;
    
        }
        section#banner nav#globalnav ul li {
            margin-top: -6px;
           padding-left: 10px;
           width: 14vw;
            flex: 0 0 auto;
            
        }
        section#banner nav#globalnav ul li a {
            overflow: hidden;
            white-space: nowrap;
            
            
        }
        /* articles */
        section article {
            width: 87%;
            max-width: 1100px;
            margin: 0 auto;
            padding: 1.5em;
            overflow: hidden;
            word-wrap: break-word;
        }
        section article aside {
            float: right;
            margin-left: 1.5em;
            width: 40%;
        }
     
    }
    
    @media screen and (min-width: 800px) {
        /* footer */
        footer {
            overflow: hidden;
        }
        footer article {
            width: 33%;
            float: left;
        }
    }